 {% extends "base.html" %}
{% load static %} 

{% block content %}
  <p id = "homePar" class = "text-center display-4 lead">Hi, we are Michelle and James and we are happily getting married on May 19, 2021. </p>
  
  <div class="product-device shadow-sm d-none d-md-block"><img src =  "{% static 'img/brideAndGroom.jpg' %}"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"><img src =  "{% static 'img/heartsExpand.jpg' %}"></div>
</div> 
  <style>
  @media only screen and (min-width: 900px) {
				main{
				   align-items: center;
				   background-size:cover;
				   background: url("{% static 'img/weddingPattern1.jpg' %}") no-repeat bottom center;
				   height: 100%;
				   
				   flex-shrink:2;
				   text-align: center;	    	  
				   }}
				   .album .container{
				   width:100%;}
   @media only screen and (max-width: 900px) {
  body {
    background: url("{% static 'img/coupleHeartBackground.jpg' %}") no-repeat bottom center;
	
  }
}
    </style>
{% endblock %}