 
 {% extends "base.html" %}
{% load static %} 
{% block title %}Photos {% endblock %}
{% block content %}
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
	  {%for pic in pictures%}
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{pic.image.url}}" width="100%" height="225">

            <div class="card-body">
			<h5 class="card-title">{{pic.title}}</h5>
              <p class="card-text">{{pic.caption}}</p>
              <!--<div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>-->
            </div>
          </div>
        </div>
		{% endfor %}
        <!---->
      </div>
    </div>
  </div>
  <style>
  @media only screen and (min-width: 900px) {
				.album{
				   align-items: center;
				   background-size:cover;
				   background: url("{% static 'img/photosBackground.jpg' %}") no-repeat bottom center;
				   height: 100%;
				   display:flex;
				   flex-shrink:2;
				   text-align: center;	    	  
				   }}
				   .album .container{
				   width:100%;}
   @media only screen and (max-width: 900px) {
  body {
    background: url("{% static 'img/wineHeartBackground.jpg' %}") no-repeat bottom center;
	
  }
}
    </style>
{% endblock %}