 
{% extends "base.html" %}
{% load static %} 
{% block title %}RSVP {% endblock %}
{% block content %}
<div class = "form-signin">

<form action = "{% url 'thanks' %}" method = "post">
{% csrf_token %}
    <div class="mb-3">
	 <label for="exampleFormControlInput1" class="form-label">Name</label>
    <input type="text" class="form-control" name = "name" id="exampleFormControlInput1" placeholder="name">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" name = "email" id="exampleFormControlInput1" placeholder="name@example.com">
	  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">RSVP</button>
	</div>
  </div>
  </form>
</div>
 
<style>
  @media only screen and (min-width: 900px) {
				main{
				   align-items: center;
				   background-size:cover;
				   background: url("{% static 'img/flowersBackground.jpg' %}") no-repeat bottom center;
				   height: 100%;
				   text-align: center;	    	  
				   }}
			@media only screen and (max-width: 900px) {
				   body {
							background: url("{% static 'img/flowerHeartBackground.jpg' %}") no-repeat bottom center;
					  }
			}
    </style>
{% endblock %}